## Machine learning para predecir enfermedades cardíacas

En este trabajo realizaremos el analisis de un dataset, con datos de pacientes con y sin riesgo de renfermedades cardiacas. aplicaremos Machine Learning para intentar predecir si a partir de ciertos para metros podemos saber si una persona tiene riesgo o no de padecer una enfermedad cardáaca.

#### Parametros a analizar

- Sbp: que se refiere a la presión arterial sistólica

- Tabaco: la acumulación en kg de tabaco dentro de su organismo

- Ldl: proteína de baja densidad del colesterol

- Adiposity

- Antecedentes familiares de padecer alguna enfermedad cardíaca

- Comportamiento Tipo-A

- Obesidad

- Consumo recurrente de alcohol

- Edad

- Enfermedad cardíaca

In [1]:
# Manipulación de datos
import pandas as pd
# Operaciones numéricas
import numpy as np
# Para separar datos de entrenamiento y prueba
from sklearn.model_selection import train_test_split
# Librería para SVM
from sklearn.svm import SVC
# Medición de precisión
from sklearn.metrics import accuracy_score, confusion_matrix
# Generar gráficos
import matplotlib.pyplot as plt

In [2]:
# Leemos el set de datos y lo cargamos en la variable df, que es un DataFrame de pandas
enf_cardiaca_df = pd.read_csv('sa-heart.csv')
# Mostrar información sobre el set de datos
enf_cardiaca_df

,'sbp','Tabaco','ldl','Adiposity','Familia','Tipo','Obesidad','Alcohol','Edad','chd'
0,160,12.00,5.73,23.11,1,49,25.30,97.20,52,2
1,144,0.01,4.41,28.61,2,55,28.87,2.06,63,2
2,118,0.08,3.48,32.28,1,52,29.14,3.81,46,1
3,170,7.50,6.41,38.03,1,51,31.99,24.26,58,2
4,134,13.60,3.50,27.78,1,60,25.99,57.34,49,2
...,...,...,...,...,...,...,...,...,...,...
457,214,0.40,5.98,31.72,2,64,28.45,0.00,58,1
458,182,4.20,4.41,32.10,2,52,28.61,18.72,52,2
459,108,3.00,1.59,15.23,2,40,20.09,26.64,55,1
460,118,5.40,11.61,30.79,2,64,27.35,23.97,40,1
461,132,0.00,4.82,33.41,1,62,14.70,0.00,46,2